<div class="container-fluid">
  <section>
    <div class="row">
      <div class="col-12  mb-1">
        <div class="card shadow-lg border-1">
          <div class="card-body p-3 border-1">
            <div class="d-flex justify-content-between p-md-1">
              <div class="d-flex flex-row">
                <div class="align-self-center text-primary">
                  <h2 class="h1 mb-0 me-4">{{account?.balance ?? 0 | currency : account?.currency?.code:'symbol':'1.2-2'}}</h2>
                </div>
                <div class="align-self-center text-capitalize">
                  <h4 class="m-0">{{account?.name}}</h4>
                </div>
              </div>
              <div class="align-self-center text-primary">
                <i class="zmdi zmdi-balance-wallet"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

