<nav class="navbar navbar-expand-lg bg-primary py-2 px-2">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img ngSrc="../../../../assets/media/logo2.png" alt="Logo" height="36" width="36">
      <span class="brand-name px-3 m-0">Money Mate</span>
    </a>
    <ng-container *ngIf="(user$ | async)">
    <button  (click)="toggleSidebar(content)" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" >
        <i class="zmdi zmdi-menu icon text-white"></i>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="home"  routerLinkActive="active">
            Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="accounts" routerLinkActive="active">
            Accounts
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" routerLink="transaction" routerLinkActive="active">
            Transactions
          </a>
        </li>
      </ul>
    </div>
    </ng-container>

    <ng-container *ngIf="(user$ | async) as user">
      <div ngbDropdown class="mt-lg-0 mx-2" [title]="user.name"  placement="left">
        <button class="settings btn btn-white text-gray shadow-sm" type="button" id="dropdownBasic1" ngbDropdownToggle>
          <i class="zmdi zmdi-settings"></i>
        </button>
        <div ngbDropdownMenu class="dropdown-menu dropdown-menu-end">
            <div class="m-4 mb-2">
              <div class="avatar d-flex justify-content-center">
                <img src="./assets/media/static/profile-icon.png" alt="user" class="rounded-circle" width="50" height="50">
              </div>
              <div class="user-short-info text-center">
                <h5 class="name">{{ user.name }}</h5>
                <span class="name">{{ user.email }}</span>
              </div>
            </div>
            <div class="control-panel">
              <a ngbDropdownItem type="button" routerLink="categories" class="dropdown-item" >Categories</a>
              <button ngbDropdownItem type="button" class="dropdown-item text-danger" (click)="logout()">Logout</button>
            </div>
        </div>
      </div>
    </ng-container>



    <ng-template #content let-offcanvas>
      <div class="offcanvas-body">
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
        <div *ngIf="user$ | async as user" class="user w-100 d-flex justify-content-center pb-4 mb-3">
          <div class="user-body d-flex justify-content-center align-items-center ">
            <div class="avatar">
              <img src="./assets/media/static/profile-icon.png" alt="user" class="rounded-circle" width="50" height="50">
            </div>
            <div class="info ms-3">
              <h4 class="">{{user.name}}</h4>
              <p class="">{{user.email}}</p>
            </div>
          </div>
        </div>




        <div class="navigation text-center align-content-center">
          <ul class="navbar-nav">
            <li class="nav-item" (click)="offcanvas.dismiss('Go to click')">
              <a class="nav-link" routerLink="home"  routerLinkActive="active">
                <i class="zmdi zmdi-home"></i>
                Home
              </a>
            </li>
            <li class="nav-item" (click)="offcanvas.dismiss('Go to click')">
              <a class="nav-link" routerLink="accounts" routerLinkActive="active">
                <i class="zmdi zmdi-accounts-outline"></i>
                Accounts
              </a>
            </li>

            <li class="nav-item" (click)="offcanvas.dismiss('Go to click')">
              <a class="nav-link" routerLink="categories" routerLinkActive="active">
                <i class="zmdi zmdi-shape"></i>
                Categories
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" routerLink="transaction" routerLinkActive="active">
                <i class="zmdi zmdi-money-box"></i>
                Transactions
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link disabled" routerLink="transaction" routerLinkActive="active">
                <i class="zmdi zmdi-settings"></i>Settings
              </a>
            </li>
          </ul>

          <button (click)="logout()" class="logout">Logout<i class="zmdi zmdi-sign-in"></i> </button>
        </div>
      </div>
    </ng-template>
  </div>
</nav>


