<app-section-container>
  <div class="account-body container">
    <div  class="account-header shadow-sm row p-4 mb-4">
      <h2 class="account-header-title col-12 text-center text-primary">{{account?.balance | currency}}</h2>
      <div class="account-header-subtitle col-12 text-center">Manage your account settings</div>
    </div>

    <div class="account-body-content row justify-content-center">

      <div class="account-toolbar row col-12 row-cols-2 row-cols-md-1 col-md-4 mb-3">
        <div>
          <div class="col-6 col-md-12">
            <app-adding-button label="Transaction" (newItemEvent)="addTransaction()" ></app-adding-button>
          </div>
          <div class="col-6 col-md-12">
            <app-settings-button (settingsEvent)="(openSettings())"></app-settings-button>
          </div>
        </div>
      </div>

      <app-transactions-list (changeIntervalEvent)="changeInterval($event)" class="col-12 col-md-8 mb-3" [transactions]="transactions$ | async"></app-transactions-list>

      <app-pie-chart class="row" [single]="pieChartData" ></app-pie-chart>
    </div>
  </div>
</app-section-container>

