<div class="col-12 pie-chart">
  <div *ngIf="!single || (single[0]?.value === 0 && single[1]?.value === 0)"
    class="p-6 no-content text-gray justify-content-center d-flex text-center">
    <h5 class="w-75">No available activity yet.</h5>
  </div>
  <ngx-charts-advanced-pie-chart
    *ngIf="single && single[0]?.value !== 0 || single[1]?.value !== 0"
    [results]="single"
    [gradient]="gradient"
    [scheme]="colorScheme"
  >
  </ngx-charts-advanced-pie-chart>
  <div *ngIf="days && (single[0]?.value || single[1]?.value)" class="info text-center">
    <p>For the last {{days}} days</p>
  </div>
</div>
