<div class="transaction align-items-center bg-twhite row mb-4 p-3 border-1 shadow-lg" (click)="openInfo()">
  <div class="col-6 col-md-4 d-flex align-items-center amount" [class.text-danger]="transaction?.type == TransactionType.EXPENSE">
    <img src='./assets/media/{{transaction?.currency?.code}}.png' alt="icon">
    <h4 class="px-2 normal" [class.negative]="transaction?.type == TransactionType.EXPENSE">{{transaction?.amount | currency : '':''}}</h4>
  </div>
  <div class="d-none d-md-block col-md-4"><h5 class="category text-uppercase">{{transaction?.category?.name}}</h5></div>
  <div class="col-6 col-md-4 text-center"><h5>{{transaction?.createdOn | timeDate}}</h5></div>
</div>
