<ng-template #popContent class="popover">
  <p class="my-2 " *ngIf="category.description">
    <span>Description:</span>
    {{category.description}}
  </p>
  <div class="pop-controls">
    <button disabled type="button" class="btn btn-yellow">Edit</button>
    <button disabled type="button" class="btn btn-danger" (click)="onDelete()">Delete</button>
  </div>
</ng-template>

<button class="category-item col col-md-4 btn btn-lightblue box-shadow rounded-3 mb-3 p-2 w-100"
     [ngbPopover]="popContent"
     [popoverTitle]="isMobile ? 'Info' : null">

    <h4 class="category-title" >{{category.name}}</h4>
    <i class="zmdi zmdi-more"></i>

<!--    <div *ngIf="!isMobile">-->
<!--      <p class="fst-italic fw-light">{{category.description}}</p>-->
<!--    </div>-->
</button>

