<body>
<!--Main content-->
      <div class="main-content container-fluid p-0">
        <div class="hero bg-primary p-8">
          <div class="hero-text text-white">
            <h2>Manage <span class="t-text">all</span>
              your <span class="t-text">finances</span>
              in <span class="t-text">one</span> place</h2>

            <p class="m-0 mt-4">Looking for convenient way to track your expenses?</p>
            <p class="p-0">Track, save, thrive with our app</p>
          </div>
          <button class="btn btn-secondary btn-lg  mt-2 b-shadow" (click)="login()">Get started</button>

        </div>
      </div>

<div class="about p-8 bg-primary container-fluid">
  <h2 class="text-white">About</h2>

  <div class="row">
  <article class="bg-white p-4 col-sm-12 col-md-5 gx-6">
    <p>Our budget application is a user-friendly financial management tool designed to help individuals
      and businesses efficiently track their income, expenses and savings.</p>
  </article>
  <article class="bg-white p-4 col-sm-12 col-md-6">
    <p>With intuitive
      features users can gain better control over their finances and make informed decisions.
      Our goal-oriented approach empowers users to set and achieve their financial goals with ease.
      Simplify your finances and take charge of your future with our budget application</p>
  </article>
  </div>

</div>
</body>
