// Fonts
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,400;0,700;1,400&family=Yanone+Kaffeesatz:wght@300;400;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css");

// Variables
@import "variables.scss";
// Bootstrap
@import "bootstrap/bootstrap.scss";

//Global

p {
  margin-bottom: 0;
}
.section-container {
  max-width: 1600px;
}
//text with yellow outline
.t-text {
  font-style: italic;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #f8ca41ff;
  color: transparent;
}

.t-shadow {
  text-shadow: 1px 1px 1px rgba(60, 89, 84, 0.77);
}

.box-shadow {
  box-shadow: 2px 3px 4px 0 rgba(0, 0, 0, 0.75);
}

.b-border {
  border-bottom: 2px solid rgb(236 231 231 / 10%);
}

.border-1 {
  border-radius: 1rem;
}

a.disabled {
  color: $gray-500 !important;
}
//Common

.title-info{
  justify-content: center;
  align-items: center;
  display: flex;

  i{
    transition: all 0.5s ease;
    font-size: 2.2rem;
    color: $gray-500;;

    &:hover{
      transition: all 0.5s ease;
      color: $gray;
    }
  }
}

.balance-header {
  border-radius: 5rem;
}

//Buttons
.btn {
  height: 100%;
  max-height: 60px;
  box-shadow: 1px 1px 3px 0 rgba($black, 0.65);

  &:active {
    color: $gray !important;
  }
}

.btn-primary,
.btn-secondary,
.btn-lightblue {
  color: $white;
  &:hover {
    color: $white;
  }
  &:active {
    color: $white !important;
  }

  .zmdi-plus {
    font-weight: 900;
  }
}

.btn-info {
  &:hover,
  &:active {
    color: $gray;
  }
}

//------Topbar for sections
.section-topbar {
  background-color: $blue-300;

  .top-bar-text {
    width: 50%;
  }
}

//-------Header

.header {
  position: fixed;
  height: 60px;
  width: 100%;
  .container-fluid {
    height: 100%;
    .brand-name {
      font-size: 22px;
      font-weight: 500;
      text-shadow: 1px 2px 2px #3c5954;
    }
  }
}

//landing welcome page

.hero {
  padding-top: 50px;
  .hero-text {
    h2 {
      font-weight: 700;
      span {
        font-size: 1em;
      }
    }
    p {
      font-size: 1.6rem;
      text-shadow: 1px 1px 1px #9a9f3d9e;
    }
  }
}

.how-works {
  border: 2px solid rgb(236 231 231 / 10%);
  border-right: none;
  border-left: none;
  h2 {
    font-weight: 600;
  }
  p {
    font-size: 1.4rem;
  }
}

.about {
  h2 {
    font-weight: 700;
  }
  article {
    border-radius: 10px;
    p {
      font-size: 1.4rem;
      margin: 0;
    }
  }
}

.why-block {
  article {
    background-color: $total-white;
    border-radius: 1rem;
    padding: 2rem;
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: left;

    span {
      font-weight: 600;
      font-style: italic;
    }
    i {
      font-size: 3.5rem;
    }
  }
}

//--Navbar
.navbar {
  height: 60px;
  z-index: 1;

  .navbar-brand {
    color: white;
    font-size: 22px;
    font-weight: 500;
    text-shadow: 1px 2px 2px #3c5954;
  }

  .navbar-toggler {
    border: none;

    &:focus {
      box-shadow: none;
    }
    .icon {
      transition: transform 0.8s ease;
      font-size: 2rem;
    }

    .open {
      transition: transform 0.8s ease;
      display: inline-block;
      transform: rotate(90deg);
    }
  }

  .nav-item {
    .nav-link {
      color: white;
      font-size: 1.6rem;
      font-weight: 500;
      text-shadow: 1px 2px 2px #3c5954;
      &:hover {
        transition: all 0.5s ease;
        color: $yellow;
      }
    }

    .active {
      color: $yellow;
    }
  }
}

//--Sidebar
.offcanvas{
    transition: all 0.5s ease-in-out;
    border-radius: 0 0 1rem 1rem;
    background-color: $green-light;
    color: red;
    height: 420px !important;

  .offcanvas-body{
    position: relative;
    color: $gray-700;
    background-color: white;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;

    .btn-close{
      position: absolute;
      right: 1.5rem;
      top: 1.5rem;
    }
    .user{
      .user-body{
        max-width: 75%;
        flex-wrap: wrap;

        p{
          overflow-wrap: break-word;
        }
      }
      border-bottom: 2px solid $gray-500;
    }

    .navigation{
      font-size: 2.4rem;
      a{
        i{
          margin-right: 4px;
        }
        &:hover{
          color: $gray-500;
          transition: all 0.65s ease;
        }

      }

      .logout{
        font-size: 1.5rem;
        position: absolute;
        bottom: 1rem;
        right: 1.5rem;
        color: $red-light;
        font-weight: 500;
        border:none;
        background-color: transparent;

        i{
          margin-left: 4px;
        }

        &:hover{
          color: $red-light-500;
          transition: all 0.65s ease;
        }
      }
    }
  }
}

//Popover
.popover {
  width: 160px;

  p {
    span {
      font-style: italic;
      opacity: 50%;
    }
  }

  .popover-header {
    text-align: center;
  }

  .pop-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;

    button {
      color: $white;
      padding: 0;
      width: 45%;
    }
  }
}

//account-item

.account-item {
  border: 2px solid $green-light;
  transition: all 0.3s ease;
  i {
    font-size: 2em;
  }
  &:hover {
      background-color: $gray-300;
      transition: all 0.3s ease;
  }
}

//Dropdown
.dropdown-menu {
  border: 3px solid $gray-500;
  border-radius: 1rem;
  padding-bottom: 0;

  .dropdown-item {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    color: $black;
  }

  .control-panel {
    a {
      transition: all 0.5s ease;
    }

    button {
      transition: all 0.5s ease;
      border-top: 3px solid $gray-500;
      border-radius: 0 0 0.6rem 0.6rem;
    }
  }
}

.dropdown-toggle {
  &:hover,
  &:active {
    background-color: $gray-300;
    border-color: $gray-300;
    transition: all 0.4s ease;
  }
}

//<_____________________________Categories______________________________________>

.category-item {
  position: relative;
  .zmdi-more {
    font-size: 1.8rem;
    position: absolute;
    right: 1rem;
    top: 0.5rem;
  }
}

//________________________Account________________________>

.account-body {
  .account-category-charts{
    padding: 32px;
    border-radius: 1rem;
    border: 2px solid $gray-300;
  }
}

//________________________Forms and  Modals________________________>
.form-group {
  width: 80%;
  border: 2px solid $gray-300;
  border-radius: 1rem;
}

.modal-body {
  .close {
    font-size: 3rem;
    position: absolute;
    right: 5%;
    top: 5%;
  }
  border-radius: 1rem;
  background-color: $white-light;
}
//disable number input arrows
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

//________________________Transaction block________________________>
.transaction-block {
  border: 2px solid $gray-300;
  border-radius: 1rem;
  img {
    max-width: 15%;
    height: auto;
    width: auto;
  }

  p {
    color: $gray-500;
    font-weight: 500;
  }

  .transaction-scroll {
    height: 470px;
  }

  .btn-group {
    border: 2px solid $gray-500;
    button {
      border: none;
      box-shadow: 0 3px 3px rgba(15, 22, 26, 0.3);

      &:not(:last-child) {
        margin-right: 3px;
      }
    }

    .active {
      transition: all 0.35s ease;
      box-shadow: none;
      color: $gray;
    }
  }
}

//________________________NotFound_______________________>

.not-found{
  height: 85vh;
  text-align: center;
  img{
    max-width: 100%;
  }
   .btn{
     max-width: 200px;
     max-height: 40px;
   }
}

//CHARTS

.advanced-pie{
  position: relative;
  left: 30px;
}

.advanced-pie-legend {
  margin-left: 25px;
  .total-value,
  .total-label,
  .item-percent {
    display: none;
  }
  .legend-items{
    display: flex;
    justify-content: center;
  }
}

.pie-chart {
  border: 2px solid $gray-300;
  border-radius: 1rem;
  padding: 0;
  max-height: 150px;
  overflow: hidden;

  .info{
    position: relative;
    bottom: 25px;
    color: $gray-500;
  }
}

.avatar {
  img {
    border: 2px solid $gray-500;
  }
}

.no-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.chart-legend{

  .legend-title{
    display: none;
  }
  .legend-wrap{
    .legend-labels{
      background-color: $white;
      text-align: center;
    }
  }
}

.simple-pie-chart{
  max-height: 300px;
}
.horizontal-chart{
  max-height: 300px;
  .ngx-charts-outer{
    max-height: 300px;
  }

}

//---------------------Home-------------------------->

.home-accounts{
  .inner-content{
    border: 2px solid $gray-300;
    border-radius: 1rem;
    height: 100%;
  }

  .scrollspy{
    height: 195px;
  }

  .account-item{
    box-shadow: none !important;
  }

}

.home-category-charts{
  border-radius: 1rem;
  border: 2px solid $gray-300;
}

.good-to-know{

  .inner-content{
    border: 2px solid $gray-300;
    border-radius: 1rem;
    height: 100%;
  }


  .content{
    height: 75%;
    color: $gray-500;

    .item{
      h4{
        color: $black;
      }
      margin-bottom: 8px;

      p{
        margin-bottom: 4px;
      }

      img{
        max-height: 24px;
      }

      .lg-transaction{

        padding: 4px;
        width: 75%;
        max-width: 320px;


        p{
          display: none;
        }

        h4{
          font-size: 1.8rem;
        }
        h5{
          font-size: 1.4rem;
        }

        .inner{
          margin: 0 !important;
          padding: 4px !important;
          height: 50px;
          img{
            padding-left: 8px;
          }
        }
      }
    }

  }

  .footer{
    color: $gray-500;
  }

}

.tip-of-the-day{
  display: none;
  border-radius: 1rem;
  border: 2px solid $gray-300;
}

.tip-content{
  img{
    height: 100px;
    width: 100px;
  }

  p{
    font-size: 1.2rem;
  }

  h3{
    font-size: 24px;
    font-weight: 400;
  }
}



//--------------------Media Queries---------------------->
@media (max-width: 992px) {
  .dropdown {
    display: none;
  }
}

@media(min-width: 1024px){
  .tip-content{
    h3{
      font-size: 28px;
    }
  }



}

@media (min-width: 1200px) {
  .lending {
    h2 {
      font-size: 8rem;
    }

    .hero-text {
      p {
        font-size: 2.4rem;
      }
    }

    .how-works {
      margin-bottom: 50px;
      margin-top: 50px;
      p {
        text-align: center;
        font-size: 2rem;
      }
    }

    .about {
      article {
        padding: 50px !important;
        p {
          font-size: 2.3rem;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .about {
    article {
      p {
        font-size: 1.6rem;
      }
    }
  }

  .tip-content{
    p{
      font-size: 1.6rem;
    }
  }
}



@media (max-width: 600px) {
  .horizontal-chart{
    display: none;
  }
  .chart-legend{

    .legend-title{
      display: none;
    }
    .legend-wrap{
      .legend-labels{
        display: flex;
        justify-content: start;
        flex-direction: row;
        flex-wrap: wrap;
        .legend-label{
          max-width: 100px;
        }
      }
    }
  }

  .account-category-charts,
  .home-category-charts{
    padding-bottom: 70px !important;
  }
}

@media (max-width: 400px) {
  .account-category-charts,
  .home-category-charts{
    padding-bottom: 120px !important;
  }
}

@media (min-width: 768px) {

  .tip-of-the-day{
    display: block;
  }

  .category-item {
    height: 120px;
  }
  .apple-chart {
    height: 50vh;
    max-height: 200px;
  }
  .account-toolbar {
    .content {
      border-radius: 1rem;
      border: 2px solid $gray-300;

      .info {


        i {
          font-size: 5rem;
          color: $gray-500;
        }
        .account-info {
          border-radius: 1rem;
          border: 1px solid $gray-300;
          background-color: $total-white;

          span {
            font-weight: 500;
            color: $black;
          }

          p {
            padding-bottom: 0.5rem;
            color: $gray-600;
          }
        }
      }
    }
  }

  .home-accounts{
    .scrollspy{
      height: 215px;
    }
  }

}
