// Colors
$black: #0f161a;
$red-light: #F26C6Bff;
$blue: #115dd0;
$green-light: #00A084ff;
$yellow: #F8CA41ff;
$coral: #EBCD97ff;
$white: #f5f7fa;
$total-white: #ffffff;
$gray: #4f4f4f;

$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$yellow-500: #d5b038 !default;
$white-light: #ededed !default;
$blue-300: #4e8be2 !default;

$grid-gutter-width:0;
$enable-shadows: true;
$box-shadow-lg: 0 0.8rem 3rem rgba(15, 22, 26, 0.1);

  // Variables
$body-bg: $white;
$body-color: $black;
$font-size-root: 10px;
$font-size-base: 1.25rem;
$font-family-sans-serif: 'Poppins', sans-serif;
$font-sizes: (
  "small": 1.2rem,
  "large": 2.2rem,
  "xlarge": 3.2rem
);
$h2-font-size: 5rem;
$h3-font-size: 2.8rem;
$h4-font-size: 2.2rem;
$h5-font-size: 1.7rem;
$h6-font-size: 1.5rem;
$h5-font-weight: 700;
$h2-font-weight: 700;

// Buttons
$btn-padding-y: 0.7rem;
$btn-padding-x: 2rem;
$btn-font-weight: 600;
$btn-font-size: 1.6rem;
$btn-border-radius: 0.4rem;
$btn-color: $white !important;
$btn-disabled-opacity: 0.65;
$btn-box-shadow: 2px 3px 4px 0px rgba(0,0,0,0.75);
$btn-link-color:red;

  // Dropdowns
$dropdown-bg: $white;
$dropdown-item-padding-y: 0.4rem;
$dropdown-item-padding-x: 1.6rem;
$dropdown-link-hover-bg: $gray-400;
$dropdown-link-hover-color: $black;
$dropdown-link-color: $white;
$dropdown-link-active-color: $black;
$dropdown-link-active-color: $gray-500;
$dropdown-link-active-bg: $white;

  // Modals
$modal-content-bg: $white;
$modal-content-border-radius: 1rem;
$modal-header-padding: 1.2rem 2.4rem;
$modal-inner-padding: 2.4rem;

// Forms
$input-padding-y: 1.15rem;
$input-padding-x: 1.0rem;
$input-border: none;
$input-bg: $white;
$input-font-size: 1.6rem;
$input-font-weight: 500;
$input-color: $gray;
$input-focus-box-shadow: 0 0 0 0.2rem rgba($gray-500, 0.5);
$input-focus-border-color: $gray-500;
$form-select-box-shadow: 0;

  //Popover
$popover-header-color: $black;

//Links
$nav-link-disabled-color: $gray-500;

  //Cards
$card-title-color:                  $gray;
$card-subtitle-color:               $gray;
$card-border-width:                 3px;
$card-border-color:                 $green-light;
$card-border-radius:                1rem;
$card-color:                          $gray;
$card-inner-border-radius:          1rem;


$theme-colors: (
  "primary": $green-light,
  "secondary": $yellow,
  "blue": $blue,
  "info": $gray-500,
  "yellow": $yellow,
  "danger": $red-light,
  "black": $black,
  "white": $total-white,
  "coral": $coral,
  "gray": $gray,
  "lightblue": $blue-300,


) !default;



$spacer: 4px !default;
$spacers: (
  0: 0,
  1: $spacer * 1,
  2: $spacer * 2,
  3: $spacer * 3,
  4: $spacer * 4,
  5: $spacer * 5,
  6: $spacer * 6,
  7: $spacer * 7,
  8: $spacer * 8
) !default;

// Fonts
$font-sizes: (
  16: 1.6rem,
) !default;

$headings-margin-bottom: 0;
